.login-footer {
    padding: 10px 40px;
    
    .copyright {
        float: right;
        width: 50%;
        text-align: right;
        padding: 0;
    }

    .logo {
        
        display: inline-block;
        margin: 20px;

        img {
            width: 160px;
        }
    }
}