.login-container {
    display: inline-block;
    background-color: white;
    width: 340px;
    height: 250px;
    padding: 40px 20px;
    margin: auto;
}

.error-msg {
    height: 350px;
}